<%= render 'user/unavibar' %>

<div class="container-fluid">
  <div class="row">
    <%= render 'user/usidebar' %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header"><%= current_user.nickname %>さんの作業報告</h1>
      <h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;新規作成</h2>
      <div>
        <p>
        <%= link_to "こちら", new_user_active_path, class: 'get' %>をクリック。
        </p>
      </div>
      <br>
      <h2><i class="fa fa-files-o" aria-hidden="true"></i>&nbsp;報告一覧</h2>

        <%= render partial: "activelist", locals: { actives: @actives } %>

      <%= paginate(@actives) %>
    </div>

  </div>
</div>