<div class="jumbotron">
  <div class="container">
    <h1><%= image_tag 'logo.png', size: '398x126' %></h1>
    <p><em>モノがつめ込まれた部屋から、夢と希望がつまった部屋へ</em></p><br>
    <a class="btn btn-info btn-lg" href="users/sign_up" role="button">ゲスト登録 »</a>
  </div>
</div>

<div class="service row">
  <div class="col-sm-12 wrap">
    <h2><span class="h2_name">Our&nbsp;Service <span class="title_jp">私たちが提供するもの</span></span></h2>
  </div>

  <div class="col-sm-12 servive_img">
    <h3 class="h3_name wrap"><i class="fa fa-home" aria-hidden="true"></i><span class="topic_jp">
    かたづけオンラインサービス</span>PeeReSpa</h3>
    <div class="wrap txt_lay txt_arch">
    モノが多くて…もううんざり…</br>
    片付けたのに…気づくとまた散らかっている…</br>
    そんな部屋にも、できない自分にもイライラ…</br></br>
    そんなあなたをPeeReSpa（ピレスパ）がサポート</br></br>
    かたづけで「部屋」も「あなた」も変わってみませんか？
    </div>
  </div>

  <div class="container">
    <div class="col-sm-4 quality">
      <div class="img">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        <i class="fa fa-comments" aria-hidden="true"></i>
      </div>
      <div class="word">
        <h4>遠隔サポート</h4>
      </div>
      <div class="sentence">
      あなたにはサポータが一人つきます。日々の作業をフォローします。QAによるやり取りの他、定期的なヒアリング等により、あなたを最後までバックアップします。
      </div>
    </div>
    <div class="col-sm-4 quality">
      <div class="img">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </div>
      <div class="word">
        <h4>作業管理</h4>
      </div>
      <div class="sentence">
      WEB上で全ての作業を記録・保存して管理できますので、作業前後の様子も簡単にわかり、カスタマイズしたサポートやモティベーションを維持に役立ちます。
      </div>
    </div>
    <div class="col-sm-4 quality">
      <div class="img">
        <i class="fa fa-heart" aria-hidden="true"></i>
        <i class="fa fa-smile-o" aria-hidden="true"></i>
      </div>
      <div class="word">
        <h4>喜びと体験</h4>
      </div>
      <div class="sentence">
      作業前にサポータがあなたのゴールを一緒に考えます。目標達成の喜びと成功体験を得て自身の強みややりたいことに気づいてもらうことができます。
      </div>
    </div>
  </div>
</div> <!-- end of service div-->

<div class="supporter row">
  <div class="col-sm-12 wrap">
    <h2><span class="h2_name">Supporter <span class="title_jp">あなたを支える人たち</span></span></h2>
  </div>
  <div class="container">
    <div class="col-sm-4 profile_left">
      <%= image_tag("supporter.jpg", class: "supporter_image") %>
    </div>
    <div class="col-sm-8 profile_right">
     <h4>橋本&nbsp;英明
      <span class="word">（はしもと&nbsp;ひであき）</span></h4>
      <p>
      2016年整理収納アドバーザー1級、ライフオーガナイザー1級取得。約10年のエンジニア生活から一転、2017年よりxxxx代表として活動を開始。主に個人向けの整理収納サポートサービスを行うとともに、整理収納アドバイザー2級認定講師として整理収納の普及にも努めている。また独自のセミナーにて「整理」の重要さを伝えている。趣味はテニスと読書。
      </p>
    </div>
  </div>
</div> <!-- end of supporter div-->

<div class="serviceflow row">
  <div class="col-sm-12 wrap">
    <h2><span class="h2_name">Flow <span class="title_jp">サービスを受けるまで</span></span></h2>
  </div>

  <div class="container">
    <div class="col-sm-4 quality">
      <div class="img">
        <i class="fa fa-id-card-o" aria-hidden="true"></i>
        <i class="fa fa-calendar" aria-hidden="true"></i>     </div>
      <div class="word">
        <h4>仮登録と初回予約</h4>
      </div>
      <div class="sentence">
      本ページからゲスト登録後、初回ヒアリングの予約を行ってください。
      </div>
    </div>
    <div class="col-sm-4 quality">
      <div class="img">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <i class="fa fa-comments" aria-hidden="true"></i>
      </div>
      <div class="word">
        <h4>ヒアリング</h4>
      </div>
      <div class="sentence">
      skypeにてヒアリングを行い、お悩みや意思を確認させていただきます。本ヒアリングにてサービス利用可否を判断します。
      </div>
    </div>
    <div class="col-sm-4 quality">
      <div class="img">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </div>
      <div class="word">
        <h4>サービス開始</h4>
      </div>
      <div class="sentence">
      本登録の連絡が届いたら、サービスの利用スタートです。
      </div>
    </div>
  </div>
</div> <!-- end of serviceflow div-->

<div class="serviceflow row">
  <div class="col-sm-12 wrap">
    <h2><span class="h2_name">Target <span class="title_jp">こんな方におすすめ</span></span></h2>
  </div>

  <div class="container">
    <div class="col-sm-4 quality">
      <div class="img">
       <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </div>
      <div class="word">
        <h4>自分で片付けられるようになりたい人</h4>
      </div>
      <div class="sentence">
      かたづけを行うのはあなたです。PeeReSpaはあなたの活動をバックアップします。
      </div>
    </div>
    <div class="col-sm-4 quality">
      <div class="img">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </div>
      <div class="word">
        <h4>リバウンドしないようになりたい人</h4>
      </div>
      <div class="sentence">
        PeeReSpaでは、あなたに合ったかたづけができるようにサポートしていきますので。リバウンドしにくいかたづけを身につけていくことができます。
      </div>
    </div>
    <div class="col-sm-4 quality">
      <div class="img">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </div>
      <div class="word">
        <h4>積極的に学び行動する意思のある人</h4>
      </div>
      <div class="sentence">
      PeeReSpaはあなたのかたづけをサポートするツールです。すぐに生まれ変われる魔法の薬ではありません。積極的に活用いただくことでその効果を発揮できます。
      </div>
    </div>
  </div>
</div> <!-- end of targer div-->

<div class="change row">
  <div class="col-sm-12 wrap">
    <h2><span class="h2_name">Change! <span class="title_jp">さあ、始めよう</span></span></h2>
  </div>

  <div class="col-sm-12">
    <div class="text-center">
        <h3 class="h3_name wrap">PeeReSpa<span class="topic_jp">で、<br>かたづけから始まる快適な暮らしの第一歩を踏み出そう</span></h3><br>
      <a class="btn btn-info btn-lg" href="users/sign_up" role="button">ゲスト登録 »</a>
    </div>
  </div>
</div> <!-- end of targer div-->

<footer class="footer footer-arch">
<p>
<%= link_to "ユーザログイン", new_user_session_path, class: 'post' %>
<%= link_to "ユーザ新規登録", new_user_registration_path, class: 'post' %>
<%= link_to "ユーザログアウト", destroy_user_session_path, class: 'get' %>
</p>

<p>
<%= link_to "サポータログイン", new_admin_session_path, class: 'post' %>
<%= link_to "サポータ新規登録", new_admin_registration_path, class: 'post' %>
<%= link_to "サポータログアウト", destroy_admin_session_path, class: 'get' %>
</p>

    <div class="text-center text-muted">© PeeReSpa</div>

</footer>

